/*
//Program name: styles.css
Author: Matthew Castaneda
Date created: 3/27/2026
Date last edited: 3/27/2026
Version: 1
Description: The CSS file for the index.html for HW2
*/

html, body {
    margin: 0px;
    background-color: #000847;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 50px;
    flex: 1;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

hr {
    margin-bottom: 40px;
}

input {
    margin: auto;
    padding: 3px;
}

h1 {
    margin-bottom: 2em;
    font-size: 2em;
}

button {
    height: 25px;
}

/* header {
    width: 100%;
    position: fixed;
} */

table#headerTable {
    width: 100%;
    background-image: linear-gradient(to right, #4D61FF, #914DFF);
    padding: 15px;
    top: 0;
    left: 0;
}

table#headerTable th#companyName {
    text-align: left;
    vertical-align: bottom;
    font-size: xx-large;
    padding: 10px;
    border-radius: 15px;;
    background-image: linear-gradient(to left, #914dff00, #914DFF);
}

table#headerTable th#tdDate {
    text-align: center;
}

table#headerTable th#links {
    text-align: right;
    vertical-align: bottom;
    font-size: 20px;
}

div#form {
    background-color: white;
    width: 50%;
    border-top: 1px solid #473F00;
    border-left: 1px solid #473F00;
    border-bottom: 5px solid #473F00;
    border-right: 5px solid #473F00;
    padding: 50px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 20px;
    bottom: 0;
    left: 0;
}

div#reviewSection {
    background-color: white;
    width: 50%;
    border-top: 1px solid #473F00;
    border-left: 1px solid #473F00;
    border-bottom: 5px solid #473F00;
    border-right: 5px solid #473F00;
    padding: 50px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    display: none;
}

.container {
    background-image: linear-gradient(to right, #1732ff, #7119ff);
    padding: 10px;
}

.container span {
  background-color: #acb6fe;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
    .container span {
        float: none;
        width: 100%;
    }
}

.container span:hover{
    background-color: #acb6fe85;
}

#title {
    text-align: center;
}

div#form div {
    text-align: left;
    margin-bottom: 20px;
}

div#form div#personalWordsField{
    text-align: left;
}

#footerdiv {
    width: 100%;
    background-image: linear-gradient(to right, #4D61FF, #914DFF);
    padding: 15px;
}

.ft-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-image: linear-gradient(to right, #4D61FF, #914DFF);
  padding: 10px;
}
.ft-container div {
  padding: 15px;
  font-size: 15px;
  text-align: center;
  vertical-align: auto;
}


