/*
//Program name: styles.css
Author: Matthew Castaneda
Date created: 2/5/2026
Date last edited: 2/27/2026
Version: 1.3
Description: The CSS file for the index.html for HW1
*/

html, body {
    margin: 0px;
    background-color: #000847;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 50px;
    flex: 1;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

table#headerTable {
    width: 100%;
    background-image: linear-gradient(to right, #4D61FF, #914DFF);
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
}

table#headerTable th#companyName {
    text-align: left;
    font-size: xx-large;
}

table#headerTable th#tdDate {
    text-align: center;
}

table#headerTable th#links {
    text-align: right;
    vertical-align: bottom;
    height: 50px;
}

div#form {
    background-color: white;
    width: 50%;
    border-top: 1px solid #473F00;
    border-left: 1px solid #473F00;
    border-bottom: 5px solid #473F00;
    border-right: 5px solid #473F00;
    padding: 25px;
    margin: auto;
    margin-bottom: 50px;
    bottom: 0;
    left: 0;
}

.container {
    display: -ms-inline-grid;
    grid-template-columns: auto auto auto;
    background-image: linear-gradient(to right, #1732ff, #7119ff);
    padding: 10px;
}

.container span {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

#title {
    text-align: center;
}

div#form div {
    text-align: left;
    margin-bottom: 20px;
}

div#form div#personalWordsField{
    text-align: left;
}

#footerdiv {
    width: 100%;
    background-image: linear-gradient(to right, #4D61FF, #914DFF);
    padding: 15px;
}

.ft-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-image: linear-gradient(to right, #4D61FF, #914DFF);
  padding: 10px;
}
.ft-container div {
  padding: 15px;
  font-size: 15px;
  text-align: center;
  vertical-align: auto;
}


